body {
    margin: 0;
    padding: 0;
    position: relative;
    display: table;
}

header {
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #0EA5E9;
    color: white;
}

.formName {
    color: #0EA5E9;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.button {
    flex-direction: column;
    color: white;
    background: #0EA5E9;
    height: 36px;
    width: 200px;
    align-items: center;
    line-height: 250%;
    border-radius: 5px;
    border: none;
    margin-top: 21px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.input {
    width: 400px;
    height: 48px;
    border-width: 1px;
    margin-top: 21px;
    border-color: #0EA5E9;
}

.formText {
    text-align: left;
    color: #0EA5E9;
    height: 19px;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-style: italic;
}