body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    line-height: 28px;
    background: #0EA5E9;
    color: white;
}

button {
    flex-direction: column;
    color: white;
    background: #0EA5E9;
    height: 36px;
    width: 200px;
    align-items: center;
    line-height: 250%;
    border-radius: 5px;
    border: none;
}

.block_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 770px;
}

.form_name {
    color: #0EA5E9;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.auth_button {
    margin-top: 21px;
}

.base_button, .save_button {
    width: 150px;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.input {
    width: 400px;
    height: 48px;
    border-width: 1px;
    margin-top: 21px;
    border-color: #0EA5E9;
}

.input_ad {
    border-width: 1px;
    border-color: black;
}

.input_description {
    border-width: 1px;
    border-color: black;
}

.form_text {
    text-align: left;
    color: #0EA5E9;
    height: 19px;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-style: italic;
}

.form_text_ad {
    color: black;
    height: 19px;
    font-size: 16px;
    margin: 25px 0 0 0;
}

.left_block, .right_block {
    width: 150px;
}

.product__image {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.center_block {
    margin: 0 10px;
    height: 50px;
}

.product__seller {
    font-size: 12px;
    font-family: Inter, serif;
}

.product__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin: 0;
}

.hide {
    display: none;
}

.product__sum {
    font-size: 24px;
}

.topic {
    display: inline;
    justify-content: flex-end;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    height: 19px;
    font-size: 16px;
}

.menu__section {
    text-decoration-line: underline;
    font-weight: 600;
}

.menu li {
    display: inline;
    margin-left: 0;
    padding-left: 15px;
}

.upload_photo {
    display: flex;
}

.upload_button {
    width: 150px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .burger__btn {
        display: none;
    }
}

@media (min-width: 760px) {
    header {
        justify-content: center;
    }

    .product_content {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 351px) {
    .product__about {
        margin: 0 0 auto 0;
    }

    .center_block {
        display: flex;
        flex-direction: column;
        height: 220px;
    }

    .product_content {
        display: flex;
        width: 100vw;
        flex-direction: column;
    }

    .center_block {
        width: 430px;
    }

    .product_block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .product__title {
        font-size: 16px;
        font-family: Inter, serif;
        height: 20px;
    }

    .product__sum {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        text-align: right;
        padding: 0;
        margin-right: 10px;
    }

    .add_button {
        position: relative;
        left: 305px;
        margin: 20px;
        width: 150px;
    }

    .change_block {
        position: relative;
        top: -50px;
        left: 285px;
        margin: 0;
    }

    .upload_button {
        margin: 16px;
    }

    .input_ad {
        width: 746px;
        height: 47px;
    }

    .input_description {
        width: 746px;
        height: 153px;
    }
}

@media (max-width: 350px) {
    .burger__btn {
        width: 30px;
        left: 300px;
        height: 60px;
        position: fixed;
        cursor: pointer;
    }

    .burger__btn span {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        transition: all 0.5s;
    }

    .burger__btn span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .burger__btn span:nth-of-type(3) {
        top: calc(50% + 10px);
    }

    .right_block_header {
        display: none;
    }

    .left_block {
        margin-left: auto;
        margin-right: auto;
    }

    .right_block {
        margin: 0 10px;
    }

    .menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background: #0EA5E9;
        transform: translateY(-200%);
        opacity: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .menu li {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
        list-style-type: none;
    }

    /*.menu__section {*/
    /*    text-decoration-line: underline;*/
    /*    font-weight: 700;*/
    /*}*/
    /*.topic {*/
    /*    color: #FFFFFF;*/
    /*    font-size: 16px;*/
    /*    font-family: Inter, sans-serif;*/
    /*    font-style: normal;*/
    /*    font-weight: 400;*/
    /*    text-decoration: none;*/
    /*}*/
    .menu.active {
        transform: translateY(-35px);
        opacity: 100%;
        padding: 0;
    }

    .add_button {
        margin: 20px auto;
        width: 150px;
        display: block;
    }

    .change_block {
        position: relative;
        width: 150px;
        top: 35px;
        margin: 0 auto;
    }

    .base_button {
        margin-top: 5px;
    }

    .save_button {
        margin-left: 70px;
        margin-top: 10px;
    }

    .product__seller {
        position: relative;
        top: 45px;
    }

    .product__image {
        width: 150px;
        height: 150px;
        border: 1px solid black;
    }

    .input_ad {
        width: 290px;
        height: 47px;
    }

    .input_description {
        width: 290px;
        height: 153px;
        border-width: 1px;
        border-color: black;
    }

    .product_ad_block {
        margin-left: 20px;
        margin-right: auto;
    }

    .upload_photo {
        flex-direction: column;
        margin-left: 70px;
    }
}
